@use 'base/variables' as v;
@use 'base/mixins' as m;

.contenido-principal{
    background-color: v.$blanco;
    padding: 5rem 2rem;
    position: relative;
    
    @include m.tablet { 
        padding: 10rem;
     }        

}